*{
    padding: 0;
    margin: 0;
}
:root{
    --top:#fff6f7;
    --lrb:#faefee;
    --emailBgc:#f9f6ea;
    --bgc:#7f9361;
    --font:#683300;
    --bottom-after-r:300px;
    --bottom-after-b:200px;
    --bottom-after-t:160px;
    --bottom-after-top:-160px;
    --bottom-after-right:-300px;
    --bottom:200px;
    --bottom-l-r:300px;
    --bottom-t:500px;
    --cover-l:300px;
    --cover-t:160px;
    --cover-top:340px;
    --button-h-w:60px;
    --button-r:30px;
    --button-top:470px;
    --button-lh:60px;
    --email-content-box-w:600px;
    --email-content-box-h:500px;
    --email-content-box-top:100px;
    --email-content-t:240px;
    --email-content-w:560px;
    --email-content-h:470px;
    --email-content-p:20px 20px 100px 20px;
    --email-content-m-t:240px;
    --h2-b:10px;
    --h2-font-z:18px;
    --p-b:4px;
    --p-h:26px;
    --p-font-z:16px;
    --h1-top:380px;
    --p-last-child-b:150px;
    --translate-y:100px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh; /* 确保body至少填充整个视口高度 */
    background-color: var(--bgc);
    overflow: hidden;
}
.email-box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-box .bottom{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: var(--bottom) solid var(--lrb);
    border-right: var(--bottom-l-r) solid transparent;
    border-left: var(--bottom-l-r) solid transparent;
    z-index: 0;
    top: var(--bottom-t);
    transform: translateY(0px);
}
.email-box .bottom::after { /*left triangle*/
    position: absolute;
    content: '';
    border-right: var(--bottom-after-r) solid var(--lrb);
    border-bottom: var(--bottom-after-b) solid  transparent;
    border-top: var(--bottom-after-t) solid transparent;
    top: var(--bottom-after-top);
    right: var(--bottom-after-right);
    z-index: 0;
}
.email-box .bottom::before { /*left triangle*/
    position: absolute;
    content: '';
    border-left: var(--bottom-after-r) solid var(--lrb);
    border-bottom: var(--bottom-after-b) solid  transparent;
    border-top: var(--bottom-after-t) solid transparent;
    top: var(--bottom-after-top);
    left: var(--bottom-after-right);
    z-index: 0;
}
.email-box .cover{
    position: absolute;
    border-left: var(--cover-l) solid transparent;
    border-top: var(--cover-t) solid  var(--top);
    border-right: var(--cover-l) solid transparent;
    top: var(--cover-top);
    z-index: 1;
    transform-origin: top;
}
/* 定义沿X轴旋转180度的关键帧动画 */
@keyframes open {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes off {
    0% {
        transform: rotateX(-180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
/*信件下滑动画*/
@keyframes bottom-open {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(var(--translate-y));
    }
}/*信件下滑动画*/
@keyframes bottom-off {
    0% {
        transform: translateY(var(--translate-y));
        transition-delay: 2s;
    }
    100% {
        transform: translateY(0px);
        transition-delay: 2s;
    }
}
.email-box .cover.open{
    /* 开启状态应用 open 动画 */
    animation: open 1s ease-in-out both;
    z-index: 0;
    transition: z-index 1s ease-in;
}
.email-box .cover.off{
    z-index: 1;
    transition: z-index 3s ease-in;
    animation: off 2s 1s ease-in both;
}
.email-box .button{
    position: absolute;
    height: var(--button-h-w);
    width: var(--button-h-w);
    border-radius: var(--button-r);
    background-color:#e2744f;
    z-index: 1;
    top: var(--button-top);
    line-height:var(--button-lh) ;
    text-align: center;
    color:#fff6f7;
    cursor: pointer;
}
.email-box .email-content-box{
    position: absolute;
    width: var(--email-content-box-w);
    height: var(--email-content-box-h);
    top: var(--email-content-box-top);
    z-index: 0;
    overflow: hidden;
}
.email-box .email-content-box .email-content{
    margin-top: var(--email-content-t);
    width: var(--email-content-w);
    height: var(--email-content-h);
    padding:var(--email-content-p);
    background-color: var(--emailBgc);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.email-box>.open~.email-content-box>.email-content{
    margin-top: 0;
    transition: margin-top 1.5s ease-in; /* 添加过渡效果，0.5s是过渡持续时间，ease是过渡速度曲线 */
    transition-delay: 1s;
}
.email-box>.off~.email-content-box>.email-content{
    margin-top: var(--email-content-m-t);
    transition: margin-top 1.5s ease-in; /* 添加过渡效果，0.5s是过渡持续时间，ease是过渡速度曲线 */
}
.email-box .email-content-box .email-content p:last-child{
    margin-bottom: var(--p-last-child-b);
}
h2{
    margin-bottom: var(--h2-b);
    font-size: var(--h2-font-z);
    color: var(--font);
}
p{
    margin-bottom: var(--p-b);
    text-indent: 2em;
    color: var(--font);
    line-height: var(--p-h);
    font-size: var(--p-font-z);
}
.email-box>.off~.bottom,.email-box>.off~.button{
    animation: bottom-off 1s ease-in-out both;
}
.email-box>.open~.bottom,.email-box>.open~.button{
    animation: bottom-open 1s ease-in-out both;
}
.email-box .open+h1{
    opacity: 0;
    transition:opacity 0.5s ease-in;
}
.email-box .off+h1{
    opacity: 1;
    transition:opacity 1s 3s ease-in;
}
h1{
    display: block;
    position: absolute;
    top: var(--h1-top);
    z-index: 2;
    opacity: 1;
}
@media screen and (max-width: 767px) {
    :root{
        --bottom-after-r:35vw;
        --bottom-after-b:20vw;
        --bottom-after-t:16vw;
        --bottom-after-top:-16vw;
        --bottom-after-right:-30vw;
        --bottom:20vw;
        --bottom-l-r:30vw;
        --bottom-t:90vw;
        --cover-l:30vw;
        --cover-t:17vw;
        --cover-top:74vw;
        --button-h-w:10vw;
        --button-r:5vw;
        --button-top:86vw;
        --button-lh:9vw;
        --email-content-box-w:59vw;
        --email-content-box-h:80vw;
        --email-content-box-top:30vw;
        --email-content-m-t:44vw;
        --email-content-t:44vw;
        --email-content-w:55vw;
        --email-content-h:80vw;
        --email-content-p:2vw;
        --p-last-child-b:30vw;
        --translate-y:8vw;
        --h2-b:4vw;
        --h2-font-z:3vw;
        --p-b:1vw;
        --p-h:4vw;
        --p-font-z:2vw;
        --h1-top:75vw;
    }
}